<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.androidpro.androidoop">

    <application
        android:name=".AplicacaoCustomizada"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.TelaDeOpcoesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.OlaMundoActivity" />

        <activity android:name=".ui.activity.LeakDeMemoriaActivity" />

        <activity android:name=".ui.activity.CamposComTituloActivity" />

        <activity android:name=".ui.activity.ListaComSecoesActivity" />

        <activity android:name=".ui.activity.ConcorrenciaActivity" />
    </application>

</manifest>
